#contact-top{
    margin: 90px 0px 0px 0px;
    background-color: rgba(196, 191, 255, 0.3);
}

.contact-title{
    margin: 30px 0px;
    font-weight: 700;
}

.contact-desc{
    margin: 30px 0px 30px 30px;
    word-wrap: pre-wrap
}

.contact-desc-border{
    border: 2px solid grey;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    #contact-top{
        margin: 60px 0px 0px 0px;
    }

    .portfolio-holder-box hr{
        width: 150px;
    }

    #portfolio-top{
        margin: 60px 0px 0px 0px;
    }

}